$height = 50px

.full-screen
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  z-index 20
  .top-bar
    display flex
    align-items center
    justify-content flex-start
    height $height
    color #999
    background-color #fff
    border-bottom 1px solid #ddd
    label
      display flex
      align-items center
      height $height
      padding 0 16px
      cursor pointer
      span
        font-size 16px
    .line
      padding-right 12px
      font-size 14px
    h3
      margin-bottom 0
      font-size 16px
      font-weight 400

.full-screen-main
  $padding = 24px
  //padding $padding
  height 'calc(100% - %s)' % $height
  overflow auto
  background-color #fff