.markdown
  .md-guide
    background white
    padding-right 10px
    margin-left  10px
    .title
      margin-top 5px
      padding-left 20px
      font-size 18px
      font-weight 500
  .md-content
    background white
    margin-right 10px
    padding 20px
