.frame
  min-height 100%
  .frame-logo
    width 64px
    height 64px

    img
      vertical-align baseline
  .trigger
    font-size 18px
    line-height 64px
    padding 0 24px
    cursor pointer
    transition color 0.3s

  .trigger:hover
    color #1890ff

  .breadcrumb
    flex 1
    margin-top -7px
